/*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: linear-gradient(to right, #f4d6f1, #1268eb); 
}



